body{
  font-family: Tahoma;
  color: #444;
}
.bg{
  background-image: url("./assets/pic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#wrapper{
  width: 90%;
  max-width: 760px;
  margin: 20px auto;  
  border-radius: 6px;
  box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
  box-sizing: border-box;
  padding: 0 0 20px;
  overflow: hidden;
  border: 1px solid lightgray;
  background-color:   rgb(248, 243, 236);
}
#page-banner{
  background: rgb(250, 153, 7); 
  padding: 20px ;
}
#page-banner h1{
  width: 100%;
  text-align: center;
  margin: 10px 0;
}
#length{
  text-align: center;
}
#pass-gen h2{
  margin-top: 30px;
  text-align:center ;
}
#pass-gen input{
  text-align: center;
  width: 90%;
  max-width: 400px;
  margin: 10px auto; 
  display: block;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
  color: #444;
}
#hide-option{
  margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 10px;
   text-align: center;
   color: rgb(250, 153, 7);
 }
 #criteria-list h2{
   text-align: center;
 }

#criteria-list ul{
  list-style-type: none;
  padding: 0;
}
#criteria-list li{
  padding-left: 30px;
  border-left: 12px solid rgb(153, 145, 145);;
  margin: 3px 3px;
  margin-left: 50px;
}
#criteria-list li:hover{
  border-color:  rgb(250, 153, 7);
}

#criteria-list input[type="checkbox"] {
  visibility: hidden;
}
label.check-box{
  position: relative;
}
label.check-box:before{
  content: "";
  height: 1rem;
  width: 1rem;
  left: -24px;
  top: 0;
  border: 0.5px solid lightgray;
  position: absolute;
  background: transparent;
  transition: all 0.3s cubic-bezier(0, 0.82, 1, 1.81);
}
input[type="checkbox"]:checked + label.check-box:before {
  content:'';
  font-size: 0.8rem;
  text-align: center;
  background:rgb(250, 153, 7);
  transition: all 0.3s cubic-bezier(0, 0.82, 1, 1.81);
}

.genbtn{
  background:  rgb(250, 153, 7);
  width: 90%;
  border: 0;
  margin: 10px auto; 
  display: block;
  color: white;
  background: #fd9d08;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.genbtn:hover{
  background: #333;
}
 #password{
  text-align: center;
  width: 90%;
  margin: 10px auto; 
  display: block;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-top: 20px;
  padding: 20px 2px 2px 8px;
  border-radius: 5px;
  justify-content: space-between;
 }
